// Best practice:
// For a good separation of concerns, don't rely on the DOM element names,
// but on dedicated CSS selectors to identify all elements
.cmp-colleen {
    border-radius: 20%;
    background-color: #aaaaff;
}
.cmp-colleen__title {
    color: rgb(231, 83, 199);
}
.cmp-colleen__item {
    color: purple;
}
.cmp-colleen__item-label {
    margin-bottom: 0;
}
.cmp-colleen__item-output {
    margin-top: 0;
}